<a href="https://colab.research.google.com/github/Founders1608/Complete-Python-3-Bootcamp/blob/master/omicron.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [6]:
import os 
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('/content/gdrive/My Drive/covid-variants.csv')

In [8]:
df.head()

  location        date  ... perc_sequences  num_sequences_total
0   Angola  2020-07-06  ...            0.0                    3
1   Angola  2020-07-06  ...            0.0                    3
2   Angola  2020-07-06  ...            0.0                    3
3   Angola  2020-07-06  ...            0.0                    3
4   Angola  2020-07-06  ...            0.0                    3

[5 rows x 6 columns]

https://towardsdatascience.com/google-colab-import-and-export-datasets-eccf801e2971
여기에 어떻게 데이터셋 올리는지 나와있다. 참조하도록

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100416 entries, 0 to 100415
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   location             100416 non-null  object
 1   date                 100416 non-null  object
 2   variant              100416 non-null  object
 3   num_sequences        100416 non-null  int64
 4   perc_sequences       100416 non-null  float64
 5   num_sequences_total  100416 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 4.6+ MB

In [ ]:
variants = df([])